$main-color: #8919f1;
$secondary-color: #c8d9f7;
$border-radius-size: 1rem;
$black: #000;
$white: #fff;
$grey: #333;
$card:  linear-gradient(184deg, #03a9f4de, #da00ff);//#20a0d34b;
$yellow:rgb(255, 217, 0);
$filter:linear-gradient(111deg, #2196f3, #9c27b0);
$nav:rgb(0, 150, 250);
$details:#ff5622;
$wether:#8bc34a;